<div class="as-form">
  <div class="as-form-header">
    <mat-toolbar>
      <span>Dashboard</span>
    </mat-toolbar>
  </div>

  <div class="as-form-scroll">
    <div class="cards-container">

      <mat-card [routerLink]="['./manager/ftactivityfeed']">
        <mat-icon> subject </mat-icon>
        Activity Feed
      </mat-card>

      <!-- <mat-card [routerLink]="['./manager/ftnews']">
        <mat-icon> receipt </mat-icon>
        News
      </mat-card> -->

      <mat-card [routerLink]="['./manager/ftcatalogitems']">
        <mat-icon> assignment </mat-icon>
        Catalog Items
      </mat-card>

      <mat-card [routerLink]="['./manager/ftproducts']">
        <mat-icon> shopping_cart </mat-icon>
        Products
      </mat-card>

      <!-- <mat-card [routerLink]="['./manager/ftmenuitems']">
        <mat-icon> menu </mat-icon>
        Food Menu
      </mat-card> -->

      <mat-card [routerLink]="['./manager/ftuserprofiles']">
        <mat-icon> supervisor_account </mat-icon>
        User Profiles
      </mat-card>

      <mat-card [routerLink]="['./manager/ftproperties']">
        <mat-icon> import_contacts </mat-icon>
        Property Details
      </mat-card>

      <!-- <mat-card [routerLink]="['./manager/ftphotogalleries']">
        <mat-icon> crop_original </mat-icon>
        Galleries
      </mat-card>

      <mat-card [routerLink]="['./manager/ftchatrooms']">
        <mat-icon> question_answer </mat-icon>
        Chat
      </mat-card> -->

      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
